body {
    background-color: black;
    color: white;
    margin: 0;
}

header {
    background-color: darkred;
    text-align: center;
    padding: 10px;
}

nav a {
    color: yellow;
    text-decoration: none;
}

.featured-products {
    display: flex;
    padding: 20px;
}

.product-card {
    background-color: gray;
    width: 200px;
    margin: 10px;
    text-align: center;
    border: 2px solid red;
    padding: 10px;
}

.product-card img {
    width: 100%;
}

.product-card p:nth-child(4) {
    font-weight: bold;
}

button {
    background-color: red;
    color: white;
    padding: 8px;
}

button:hover {
    background-color: yellow;
    color: black;
}

footer {
    background-color: darkred;
    text-align: center;
    padding: 10px;
}

.video-section {
    text-align: center;
    padding: 20px;
}

.video-section iframe {
    border: 2px solid yellow;
    width: 80%;
    height: 315px;
}

@media (max-width: 768px) {
    .featured-products {
        flex-direction: column;
        align-items: center;
    }
    .product-card {
        width: 80%;
        margin: 20px 0;
    }
    .video-section iframe {
        width: 100%;
        height: 200px;
    }
}

/*
 ¿Qué ajustes hiciste con DevTools y cómo mejoraron el diseño?
Con DevTools, le puse padding 10px porque antes todo estaba muy pegado y ahora se ve más espacioso 
También cambié el padding de los botones de 5px a 8px para que fueran más grandes y fáciles de clicar.
Al precio le puse font-weight: bold para que destacara del resto del texto,
 Esto co el fin que el diseño se viera menos apretado y más claro, sobretodo en pantallas pequeñas.
 ¿Cómo refleja tu diseño un enfoque comercial efectivo?
 pues creo que lo colores y el uso de imagenes y videos le agrega cierto atractivo

*/